body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1026px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Verdana, sans-serif;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

                /*HEADER Section*/
.header {
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 18px;
    color: #fff;
}

.logo {
    width: 30%;
    height: 50px;
    float: left;
    text-decoration: none;
}

.logo:link, .logo:visited {
    color: #ffffff;
}

.logo:hover .logo-img {
    background-image: url("../img/logo02.png");
}

.logo:hover .logo-text {
    color: #F26522;
}

.logo:active .logo-text {
    color: #F26522;
}

.logo-img {
    background-image: url("../img/logo01.png");
    width: 46px;
    height: 44px;
    background-repeat: no-repeat;
    float: left;
    padding-right: 15px;
}

.logo-text {
    float: left;
}

.logo-text {
    font-weight: bold;
    text-transform: uppercase;
}

.logo-text:first-line {
    font-size: 29px;
}

.contacts {
    float: right;
    text-align: right;
}

                /*MAIN Section */

.gallery-item {
    float: left;
    padding-right: 52px;
    padding-bottom: 44px;
    position: relative;
}

.gallery-item:nth-child(3n) {
    padding-right: 0;
}

.gallery-link {
    text-decoration: none;
    color: #ffffff;
}

.img-block {
    box-sizing: border-box;
    width: 307px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(#ffffff, #000) 30;
}

.gallery-price {
    opacity: 0;
    height: 65px;
    background-color: #F26522;
    position: absolute;
    bottom: -60px;
    width: 100%;
    transition: 1s;
}

.img-block:hover .gallery-price {
    opacity: 1;
    bottom: 0;
}

.gallery-price-value {
    float: left;
    font-size: 20px;
    padding-left: 21px;
    padding-top: 10px;
}

.gallery-price-value:first-line {
    font-size: 10px;
}

.gallery-price-details {
    float: right;
    font-size: 14px;
    padding-top: 35px;
}

.gallery-price-details::after {
    content: url("../img/arrow.png");
    margin-right: 18px;
    margin-left: 15px;
}

.gallery-tours {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    padding-top: 17px;
}

.gallery-link:hover .gallery-tours {
    color: #F26522;
}

                    /*FOOTER Section*/
.copy {
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 15px;
}